@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.message-list {
  @include flex-column;
  @include custom-scrollbar;
  flex: 1;
  overflow-y: auto;
  padding-bottom: 24px;
  -webkit-overflow-scrolling: touch; // Smooth scrolling on iOS

  @include tablet-down {
    padding-bottom: 16px;
  }

  @include small-mobile {
    padding-bottom: 12px;
  }
}
